<h1>Edit Booking</h1>
<form action=""></form>

<a href="/bookings/{{_id}}">Return</a>

{{!-- <div>Date: {{date}}</div>
<div>Time: {{time}}</div>
<div>Material: {{material}}</div>
<div>Quantity: {{quantity}}</div>
<div>Responsible Person: {{responsiblePerson}}</div> --}}