<h1>Booking Info</h1>

<div>Date: {{date}}</div>
<div>Time: {{time}}</div>
<div>Material: {{material}}</div>
<div>Quantity: {{quantity}}</div>
<div>Responsible Person: {{responsiblePerson}}</div>
<div>Client: {{client.name}}</div>

<a href="/bookings/{{_id}}/edit">Edit Booking</a>
<a href="/bookings/{{_id}}/delete">Delete Booking</a>