<h1>All Bookings</h1>
{{#each companiesBooking}}
<p class="text-dark">{{this.name}}</p>
{{#each bookings}}
<div><a href="/bookings/{{_id}}">Booking: {{this.date}} - {{this.time}}</a> -> {{this.quantity}} kg of {{this.material}}</div>
<br>
{{/each}}
<hr>
{{/each}}

<a href="/staff/" class="btn btn-secondary">Home</a>
