<h1>All Employees</h1>

{{#if message}}
<div>{{message}}</div>
{{/if}}

<ul>
  {{#each allOtherAdmins}}
  <li>
    <a href="/staff/employees/{{this._id}}">{{this.name}} | </a>
    <form action="/staff/employees/{{this._id}}/delete" method="POST">
      <button type="submit">Delete</button>
    </form>
  </li>
  {{/each}}

  {{#each allOtherEmployees}}
  <a href="/staff/employees/{{this._id}}">{{this.name}} | </a>
  <a href="/staff/employees/{{this._id}}/edit">Edit |</a>
  <form action="/staff/employees/{{this._id}}/delete" method="POST">
    <button type="submit">Delete</button>
  </form>
  </li>
  {{/each}}
</ul>

<a href="/staff/" class="btn btn-secondary">Home</a>