{{!-- <h1>All Employees</h1>


  {{#each allOtherEmployees}}
  <a href="/staff/employees/{{this._id}}">{{this.name}} | </a>
  <a href="/staff/employees/{{this._id}}/edit">Edit |</a>
  <form action="/staff/employees/{{this._id}}/delete" method="POST">
    <button type="submit">Delete</button>
  </form>
  </li>
  {{/each}}
</ul>

<a href="/staff/" class="btn btn-blue-grey">Home</a> --}}



<div class="gray-color px-5 pb-5">
  {{#if message}}
  <div class="all-messages">{{message}}</div>
  {{/if}}
  <div class="d-flex justify-content-center">
    <h1 class="h1 font-weight-normal pt-4">All Employees</h1>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      {{#each allOtherAdmins}}
      <div class="d-flex">
        <a href="/staff/employees/{{this._id}}" class="px-1">{{this.name}} | </a>
        <form action="/staff/employees/{{this._id}}/delete" method="POST" class="px-1">
          <button type="submit">Delete</button>
        </form>
      </div>
      {{/each}}

      {{#each allOtherEmployees}}
      <div class="d-flex">
        <a href="/staff/employees/{{this._id}}" class="px-1">{{this.name}} | </a>
        <a href="/staff/employees/{{this._id}}/edit" class="px-1">Edit |</a>
        <form action="/staff/employees/{{this._id}}/delete" method="POST" class="px-1">
          <button type="submit">Delete</button>
        </form>
      </div>
      {{/each}}
    </div>


  </div>
</div>