<div class="gray-color px-5 pb-5">
  {{#if message}}
  <div class="all-messages">{{message}}</div>
  {{/if}}
  <div class="d-flex justify-content-center">
    <h1 class="h1 font-weight-normal pt-4">All Clients</h1>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <ul>
        {{#each clients}}
        <li>
          <a href="/staff/users/{{this._id}}">{{this.name}} | </a>
          <a href="/staff/users/{{this._id}}/edit">Edit |</a>
        </li>
        {{#if isAdmin}}
        <form action="/staff/users/{{isAdmin._id}}/delete" method="POST">
          <button type="submit">Delete</button>
        </form>
        {{/if}}
        {{/each}}


      </ul>
    </div>
    <div id="map1" class="align-items-end"></div>
  </div>
  <div class="d-flex justify-content-end">
    <a href="/staff/" class="btn btn-blue-grey">Home</a>
  </div>
</div>