{{#if message}}
<div class="all-messages">{{message}}</div>
{{/if}}

<h2>User's Homepage</h2>

<h3>Welcome back, {{data.name}}!</h3>

<h4>Your last bookings:</h4>



{{#each data.bookings}}
<div>
<div>
{{this.date}}
{{this.time}}
</div>
<div>
{{this.material}}
{{this.quantity}}
</div>
<div>
{{this.responsiblePerson}}
</div>
</div>
{{/each}}

<br><br>
<a href="/profile">My account</a>
<br><br>
<a href="/bookings">Schedule waste remove</a>
