<h2>User's profile</h2>

<a href="/home">User Home</a>
<br>
<a href="/edit-infos/{{_id}}">Edit account information</a>

<img src="{{logo}}" alt="profile-picture">

{{username}}
<br>
{{name}}
<br>
{{sector}}
<br>

{{cnpj}}
<br>

{{address}}
<br>

{{phone}}





