<h2>Edit your account information</h2>

<form action="/edit-infos/{{_id}}" method="POST" enctype="multipart/form-data">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username" placeholder="Username" value="{{username}}" required>
  <label for="email">Email: </label>
  <input type="email" name="email" id="email" placeholder="Email" value="{{email}}" required>
  {{!-- <label for="name">Password: </label> --}}
  {{!-- <input type="password" name="password" id="password" placeholder="*****" value="" required> --}}
<hr>

  <label for="name">Name: </label>
  <input type="text" name="name" id="name" placeholder="Name" value="{{name}}" required>
  <label for="cnpj">CNPJ: </label>
  <input type="text" name="cnpj" id="cnpj" placeholder="CNPJ" value="{{cnpj}}" required>
  <label for="address">Address: </label>
  <input type="text" name="address" id="address" placeholder="Address" value="{{address}}">
  {{!-- <label for="location">Location: </label> --}}
  {{!-- <input type="number" name="location" id="latitude" placeholder="latitude" value="{{location.coordinates[1]}}"> --}}
  {{!-- <input type="number" name="location" id="longitude" placeholder="longitude" value="{{location.coordinates[0]}}"> --}}
  <label for="phone">Phone: </label>
  <input type="number" name="phone" id="phone" placeholder="Phone" value="{{phone}}">
  <label for="sector">Sector: </label>
  <select name="sector" id="sector" value="{{sector}}">
    <option value="business">Business</option>
    <option value="cottage-industry">Cottage Industry</option>
    <option value="heavy-industry">Heavy Industry</option>
    <option value="light-industry">Light Industry</option>
    <option value="manufacturing">Manufacturing</option>
  </select>
  <button type="submit">Edit account information</button>
</form>